fastapi
uvicorn[standard]
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-chroma
langchain-text-splitters
chromadb
pypdf
docx2txt
python-dotenv
python-multipart
pytest
httpx
tavily-python
passlib
bcrypt==3.2.2
PyJWT
email-validator
